*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Raleway', sans-serif;
}

.grid-container{
    grid-template-columns: 1fr;
    width: 100%;
    grid-template-areas:
    "header"
    "seccion1"
    "seccion2"
    "footer"
}

.header{
    grid-area: header;
    background-image: url("img/concierto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.flex-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*diseno de nav y barra de arriba*/
.barra nav ul{
    display: inline;
    padding: 20px;
    margin-left: 5%;
}

.barra nav ul li{
    display: inline;
}

.barra nav ul li a{
    text-decoration: none;
    color:#ffffff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 7em;
}

.barra{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    padding-bottom: 0.5em;
}

.navegador ul li a:hover{
    color: pink;
    cursor: pointer;
}

.navegador{
    flex-wrap: wrap;
}

.logo{
    width: 40px;
}

.encabezado{
    text-transform: capitalize;
    min-height: 400px;
    width: 100%;
    position: relative;
    font-weight: 300;
}

/*posicionar el header hasta arriba del div*/
.encabezado header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header h1{
    color: #ffffff;
    font-family: 'Monoton', cursive;
    font-size: 7em;
}

.titulo{
    text-align: center;
}

.titulo h4{
    color: #ffffff;
    padding-bottom: 1em;
}

.seccion1{
    grid-area: seccion1;
    background-color: #ffffff;
    padding-bottom: 2em;
    padding-top: 2em;
    margin: 5px auto;
}

.contenido1{
    display: grid;
    grid-template-columns: 10px 1fr 1fr 1fr 10px;
    width: 100%;
    align-content: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    grid-template-areas:
    ". section1 section2 section3 ."
    ". section4 section5 section6 .";
    grid-gap:1.5em;
}

.feature{
    width: 100%;
    border-radius: 10px;
    padding-bottom: 1em;
}

.seccion1 h2{
    padding-bottom: 1em;
}

.seccion1 p{
    padding-bottom: 1em;
}

.boton1{
    width:100%;
    text-align: center;
    background-color: #e6a52e;
    color: #ffffff;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    border: none;
    border-radius: 3px;
    font-size: 1em;
}

.section1{
    grid-area: section1;
}

.section2{
    grid-area: section2;
}

.section3{
    grid-area: section3;
}

.section4{
    grid-area: section4;
}

.section5{
    grid-area: section5;
}

.section6{
    grid-area: section6;
}


.seccion2{
    grid-area: seccion2;
    background-image: url("img/contacus.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-bottom: 2em;
    padding-top: 2em;
}

.formulario{
    display: grid;
    grid-template-columns:10px 1fr 1fr 10px;
    width: 100%;
    grid-template-areas:
    ". inputs contacto .";
    grid-gap:1.5em;
}

.inputs{
    grid-area: inputs;
    display: flex;
    flex-direction: column;
}

.contacto{
    grid-area: contacto;
}

.footer{
    grid-area: footer;
    background-color: black;
    padding-bottom: 2em;
    padding-top: 2em;
    padding-left: 1em;
}

.final{
    display: grid;
    grid-template-columns: 10px 1fr 1fr 10px;
    width: 100%;
    grid-template-areas:
    ". icons links .";
    grid-gap:1.5em;
}

.icons{
    grid-area: icons;
}

.links{
    grid-area: links;
}

footer ul li{
    list-style: none;
}

footer a{
    text-decoration: none;
    color: white;
}

footer h3{
    color: white;
    font-weight: bold;
    padding-bottom: 1em;
}

.icons ul, .links ul{
    padding-left: 0.6em;
}

label{
    color:#ffffff;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
}

.input, .area{
    padding-bottom: 1em;
    padding-top: 1em;
    border-radius: 5px;
}

.input::placeholder{
    padding-left: 1em;
    font-size: 1em;
}

.area{
    resize: none;
    height: 14em;
}

.inputs button{
    margin-top: 1em;
}

.contacto{
    color: white;
    padding-right: 2em;
}

.contacto h2{
    padding-bottom: 1em;
}

@media screen and (max-width: 760px){
    .contenido1{
        display: grid;
        grid-template-columns: 10px 1fr 10px;
        width: 100%;
        grid-template-areas:
        ". section1 ."
        ". section2 ."
        ". section3 ."
        ". section4 ."
        ". section4 ."
        ". section6 .";
        grid-gap:1.5em;
    }
}

@media screen and (max-width: 760px){
    .formulario{
        display: grid;
        grid-template-columns:10px 1fr 10px;
        width: 100%;
        grid-template-areas:
        ". inputs ."
        ". contacto .";
        grid-gap:1.5em;
    }        
}

@media screen and (max-width: 760px){
    .final{
        display: grid;
        grid-template-columns: 10px 1fr 10px;
        width: 100%;
        grid-template-areas:
        ". icons ."
        ". links .";
        grid-gap:1.5em;
    }
}




